.score{
    color: red;
}

* {
    margin: 0;
}

html {
    font-size: 14px;
}

body {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
}


.add-btn {
    background: #4183C4;
    font-weight: 800;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
.add-text {
    color: #4183C4;
}
  
.delete-btn {
    color: #db2828;
    font-weight: 800;
    background: none;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    .container {
        width: auto !important;
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
    .fields .field {
        width: 100% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 723px;
        margin-left: auto;
        margin-right: auto;
    }
    .fields .field {
        width: 100% !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 933px;
        margin-left: auto;
        margin-right: auto;
    }
    .fields .field {
        width: 32% !important;
    }
}

@media only screen and (min-width: 1224px) {
    .container {
        width: 1127px;
        margin-left: auto;
        margin-right: auto;
    }
    .fields .field {
        width: 32% !important;
    }
}

form {
    font-size: 1rem;
    max-width: 100%;
    position: relative;
}

.container {
    max-width: 100%;
    padding: 2em 0 2em;
}

.field {
    margin: 0 0 1em;
    font-size: 14px;
}

.field .error {
    color: #9f3a38;
    border-color: #e0b4b4;
    background: #fff6f6;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.file-field {
    margin: 0;
}

option {
    position: relative;
    width: 100%;
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

form label {
    display: block;
    font-weight: 700;
    font-size: 0.92em;
    margin: 0 0 .28571429rem 0;
    margin-bottom: 0.285714rem;
}

form input, form select{
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 100%;
    outline: none;
    border: 1px solid rgba(34, 36, 38, 0.15);
    -webkit-box-shadow: 0 0 0 0 transparent inset;
            box-shadow: 0 0 0 0 transparent inset;
    color: rgba(0, 0, 0, 0.87);
    border-radius: .3rem;
    line-height: 1.21428571em;
    padding: .67857143em 1em .67857143em 1em;
    width: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.required::after {
    content: '*';
    color: #db2828;
    margin: -.2em 0 0 .2em;
}

ul li {
    color: red;
}

.btn-submit, .btn-submit-other{
    display: block;
    background-color: #21ba45;
    color: #ffffff;
    text-shadow: none;
    cursor: pointer;
    outline: none;
    min-height: 1em;
    margin: 1.5em .25em 0 0;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    border: none;
    padding: .78571429em 1.5em .78571429em;
    border-radius: .28571429rem;
}

.warning{
    margin-top:25px;
    margin-bottom: 25px;
}

.warning ul li, .warning p{
    font-size: 18px
}
.warning ul{
    margin: 15px 0;
}

