<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js"></script>
	<link rel="stylesheet" href="style.css">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Создание ноды</title>
    <style>
        hr{
            margin: 20px 0 !important;
        }
        .category{
            margin-bottom: 20px;
            font-weight: 400;
        }
    </style>
</head>
<body>
    <div class="container">
        <form id="form">
            <div class="field">
                <label class="label">Родительская нода</label>
                <select required name="parent"></select>
            </div>
            <hr>
            <label class="Label category">Правила:</label> 
            <div class="rules">
                <div id="main-rule" class="rule">
                    <div class="field">
                        <label class="label required">Описание</label>
                        <input required name="rules[1][explanation]" type="text"/>
                    </div>
                    <div class="field">
                        <label class="label required">Левый операнд</label>
                        <input required name="rules[1][left_operand]" type="text"/>
                    </div>
                    <div class="field">
                        <label class="label required">Оператор</label>
                        <select required name="rules[1][operator]">
                            <option value="&lt;">&lt;</option>
                            <option value="=">=</option>
                            <option value="&gt;">&gt;</option>
                        </select>
                    </div>
                    <div class="field">
                        <label class="label required">Правый операнд</label>
                        <select required name="rules[1][right_operand]"></select>
                    </div>
                    <button onclick="deleteRule()" type="button" class="delete-btn"><span>X</spn></button>
                </div>
            </div>
            <a onclick="addRule()">
                <button type="button" class="add-btn"><i>+</i></button>
                <span class="add-text">Добавить</span>
            </a>
            <hr>
            <label class="Label category">Упражнение:</label>
            <div class="field">
                <div class="field">
                    <label class="label required">Название</label>
                    <input required name="exercise[name]" type="text"/>
                </div>
                <div class="field">
                    <label class="label required">Описание</label>
                    <input required name="exercise[description]" type="text"/>
                </div>
                <div class="field">
                    <label class="label">Группа мыщц</label>
                    <select required name="exercise[muscle_group]"></select>
                </div>
            </div>
            <button class="btn-submit-other">Отправить</button>
        </form>
    </div>
</body>
</html>



