<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="header.css">
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="p5/p5.js"></script>
	<script type="text/javascript" src="p5/addons/p5.dom.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Экспертная система</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-li"><a class="active" href="/">Пользовательские данные</a></li>
        <li class="nav-li"><a href="/add_node">Добавление данных</a></li>
        <li class="nav-li"><a href="/tree">Дерево</a></li>
        <li class="nav-li"><a href="/get_excercies">Упражнения</a></li>
    </ul>
    {% block content %}{% endblock %}
</body>
</html>