<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="p5/p5.js"></script>
	<script type="text/javascript" src="p5/addons/p5.dom.js"></script>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>Дерево решений</title>
</head>
<body>
	<script type="text/javascript" src="graph.js"></script>
</body>
</html>